@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

body{
    background-color: #0B1D26;
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 650px;
    margin: auto;
    padding: 15px 50px 0px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logoTittle{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
}

#logoAcc{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

#headInfo{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 9px;
}

.upTittle{
    display: inline-block;
}

#smallTittle {
    font-family: Montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 60px;
}

#linha{
    color: #FBD784;
    width: 10%;
    margin-top: -9px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 100px 100px 0px 100px;
}


