@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

body{
    background-color: #0b1d2600;
    color: white;
    margin: 0;
    overflow-x: hidden; 
    z-index: 2;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 650px;
    margin: auto;
    padding: 0px 40px 0px 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#logoTittle{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    z-index: 2;
}

#logoTittle:hover {
    opacity: 0.8; 
}

#headInfo:hover{
    opacity: 0.8;
}

.logoAcc {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 15px; 
    height: 15px;
    margin-top: 6px; 
    position: relative;
    z-index: 10;
}

.logoAcc img {
    width: 100%; 
    height: auto; 
    display: block; 
}

button.logoAcc:hover {
    opacity: 0.8; 
}

#headInfo{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 8px;
    z-index: 2;
}

.upTittle{
    display: inline-block;
    z-index: 2;
}

#smallTittle {
    font-family: Montserrat;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 7px;
    margin-left: 45px;
    color: #FBD784;
    z-index: 2;
}

#linha{
    color: #FBD784;
    width: 10%;
    margin-top: -6px;
    border-color: #FBD784;
    z-index: 2;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 80px 50px 0px 40px;
    z-index: 2;
}

.container{
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0px 0px 0px;
    line-height: 3rem;
    z-index: 2;
}

#E{
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #FBD784;
    z-index: 2;
}

.infoAbaixo{
    display: inline-block;
    margin-top: -10px;
    z-index: 2;
}

.info {
    margin: 30px 0px -14px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 8px;
    opacity: 95%;
    z-index: 2;
}

#setaDeslizar{
    width: 15px;
    height: 15px;
    margin-left: 84px;
    z-index: 2;
}

.background{
    width: 100%; 
    height: 150vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1; 
    filter:grayscale(40%);
}

.scrollLado{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 7px;
    z-index: 10;
}

#linhaScroll{
    width: 20%;
    z-index: 2;
    transform: rotate(90deg);
    display: fixed;
    position: absolute;
    left: 23rem;
    top: 15rem;
    border-width: 2.5px;
} 

.itensScroll{
    display: fixed;
    position: absolute;
    left: 23.8rem;
    top: 12.45rem;
    text-align: right;
    line-height: 22px;
}

.perguntas{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 2;
}
.titulo{
    font-family: Montserrat;
    font-size: 14px;
    margin-top: -40px;
    z-index: 10;
}

#txtTitulo{
    font-weight: 400;
    text-shadow: 1px 4px 5px black;
    text-align: center;
    font-size: 24px;
}

#subText{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 8px;
    margin-top: 5px;
    opacity: 0.5;
    letter-spacing: 7px;
    
}


.sombraLinear {
    width: 100%;
    height: 1300px; 
    background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, #0B1D26 100%);
    position: relative;
    top: 150px;
    z-index: 1;
    padding: 100px 0px 0px 0px;
}


.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; 
    z-index: 2;
}

.painel {
    background-color: rgba(255, 255, 255, 0);
    padding: 60px 20px 20px 20px; 
    margin-bottom: 2px; 
    z-index: 2;
}

.question {
    margin-bottom: 50px; 
    font-family: Montserrat;
    font-size: 0.8rem; 
    letter-spacing: 4px;
    text-align: center;
}

.question label {
    display: block;
    margin-bottom: -5px; 
}

.question input {
    margin-right: 5px;
}

#diagnose-btn {
    padding: 10px 60px;
    background-color: #FBD784;
    border: none;
    border-radius: 50px;
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Adiciona margem automática nas laterais para centralizar */
}


#result {
    font-family: Montserrat;
    font-size: 0.8rem; 
    z-index: 2;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px 50px 20px 50px;
}

footer {
    background-color: #0b1d2649; 
    color: white; 
    text-align: center;
    padding: 12px 0; 
    position: relative;
    width: 100%; 
    bottom: 0;
    z-index: 2; 
    font-family: Montserrat;
    margin-top: 50px;

}

.footer-container {
    max-width: 650px; 
    margin: auto; 
}

footer p {
    font-size: 10px;
    opacity: 0.7;
    display: inline-block;
    flex-direction: column;
}

#p1{
    padding-right: 7px;
    font-weight: 600;
}

#p2{
    font-weight: 500;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    nav {
        padding: 0 30px;
    }

    #logoTittle {
        font-size: 12px;
    }

    .logoAcc {
        width: 14px;
        height: 14px;
    }

    .information {
        margin: 60px 30px 0 30px;
    }

    .container {
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    #E {
        font-size: 1.9rem;
    }

    .info {
        font-size: 7.5px;
    }

    .scrollLado {
        font-size: 6.5px;
    }

    #linhaScroll {
        left: 18rem;
        top: 13rem;
    }

    .itensScroll {
        left: 18.8rem;
        top: 11.45rem;
    }

    .perguntas {
        margin-top: 200px;
    }

    .titulo {
        font-size: 13px;
    }

    #txtTitulo {
        font-size: 22px;
    }

    #subText {
        font-size: 7.5px;
    }

    .sombraLinear {
        height: 1200px;
    }

    .question {
        font-size: 0.75rem;
    }

    #result {
        font-size: 0.75rem;
        margin: 20px 40px;
    }

    footer p {
        font-size: 9.5px;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        padding: 0 35px;
    }

    #logoTittle {
        font-size: 12.5px;
    }

    .logoAcc {
        width: 14.5px;
        height: 14.5px;
    }

    .information {
        margin: 70px 35px 0 35px;
    }

    .container {
        font-size: 1.75rem;
        line-height: 2.8rem;
    }

    #E {
        font-size: 1.95rem;
    }

    .info {
        font-size: 7.75px;
    }

    .scrollLado {
        font-size: 6.75px;
    }

    #linhaScroll {
        left: 23rem;
        top: 15rem;
        opacity: 0.3;
    }

    .itensScroll {
        left: 23.7rem;
        top: 12.45rem;
    }

    .perguntas {
        margin-top: 220px;
    }

    .titulo {
        font-size: 13.5px;
    }

    #txtTitulo {
        font-size: 23px;
    }

    #subText {
        font-size: 7.75px;
    }

    .sombraLinear {
        height: 1250px;
    }

    .question {
        font-size: 0.78rem;
    }

    #result {
        font-size: 0.78rem;
        margin: 20px 45px;
    }

    footer p {
        font-size: 9.75px;
    }
}

